<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale-1.0,minimum-scale=1.0, maximum-scale-1.0, user-scaleable=no">
	<title>移动端流体布局静页面</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
<header id="header">
	<nav class="link">
		<h2 class="none">网站导航</h2>
		<ul>
			<li class="active"><a href="mob1.html">首页</a></li>
			<li><a href="mob2.html">咨询</a></li>
			<li><a href="mob3.html">票务</a></li>
			<li><a href="mob4.html">关于</a></li>
		</ul>
	</nav>
</header>
<div id="adver">
	<img src="../pic/p9.jpg" alt="">
</div>
<div id="search">
	<input type="text" class="search" placeholder="请输入">
	<button class="button">搜索</button>
</div>

<div id="tour">
	<hgroup>
		<h2>旅游</h2>
		<h3>各种资讯</h3>
	</hgroup>
	<div class="conainer">
		<figure>
			<img src="../pic/p10.jpg" alt="">
			<figcaption>
				<h4>&lt;曼谷-芭提雅6 日游&gt</h4>
				<p>包团特惠,超丰富景点</p>
				<div class="info">
					<em class="sat">满意度 77%</em>
					<span class="price">￥<strong>2864</strong>起</span>
				</div>
			</figcaption>
		</figure>
		<figure>
			<img src="../pic/p10.jpg" alt="">
			<figcaption>
				<h4>&lt;马尔代夫双鱼岛 4日游&gt</h4>
				<p>上海出发，机+酒包含早晚餐+快艇</p>
				<div class="info">
					<em class="sat">满意度 77%</em>
					<span class="price">￥<strong>2864</strong>起</span>
				</div>
			</figcaption>
		</figure>
		<figure>
			<img src="../pic/p10.jpg" alt="">
			<figcaption>
				<h4>&lt;曼谷-芭提雅6 日游&gt</h4>
				<p>包团特惠,超丰富景点</p>
				<div class="info">
					<em class="sat">满意度 77%</em>
					<span class="price">￥<strong>2864</strong>起</span>
				</div>
			</figcaption>
		</figure>
		<figure>
			<img src="../pic/p10.jpg" alt="">
			<figcaption>
				<h4>&lt;曼谷-芭提雅6 日游&gt</h4>
				<p>包团特惠,超丰富景点</p>
				<div class="info">
					<em class="sat">满意度 77%</em>
					<span class="price">￥<strong>2864</strong>起</span>
				</div>
			</figcaption>
		</figure>
		<figure>
			<img src="../pic/p10.jpg" alt="">
			<figcaption>
				<h4>&lt;马尔代夫双鱼岛 4日游&gt</h4>
				<p>上海出发，机+酒包含早晚餐+快艇</p>
				<div class="info">
					<em class="sat">满意度 77%</em>
					<span class="price">￥<strong>2864</strong>起</span>
				</div>
			</figcaption>
		</figure>
		<figure>
			<img src="../pic/p10.jpg" alt="">
			<figcaption>
				<h4>&lt;马尔代夫双鱼岛 4日游&gt</h4>
				<p>上海出发，机+酒包含早晚餐+快艇</p>
				<div class="info">
					<em class="sat">满意度 77%</em>
					<span class="price">￥<strong>2864</strong>起</span>
				</div>
			</figcaption>
		</figure>
		<figure>
			<img src="../pic/p10.jpg" alt="">
			<figcaption>
				<h4>&lt;马尔代夫双鱼岛 4日游&gt</h4>
				<p>上海出发，机+酒包含早晚餐+快艇</p>
				<div class="info">
					<em class="sat">满意度 77%</em>
					<span class="price">￥<strong>2864</strong>起</span>
				</div>
			</figcaption>
		</figure>
		<figure>
			<img src="../pic/p10.jpg" alt="">
			<figcaption>
				<h4>&lt;马尔代夫双鱼岛 4日游&gt</h4>
				<p>上海出发，机+酒包含早晚餐+快艇</p>
				<div class="info">
					<em class="sat">满意度 77%</em>
					<span class="price">￥<strong>2864</strong>起</span>
				</div>
			</figcaption>
		</figure>
		<!-- 小技巧 为了让footer不被section浮动所影响 -->
		<div class="clearfix"></div>
	</div>
</div>

<footer id="footer">
	<div class="top">
		客户端|触屏版|电脑版
	</div>
	<div class="bottom">
		Copyright &copy 移动端流体布局|粤ICP备 16022330 号
	</div>
</footer>
</body>
</html>