<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale-1.0,minimum-scale=1.0, maximum-scale-1.0, user-scaleable=no">
	<title>移动端流体布局静页面</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
<header id="header">
	<nav class="link">
		<h2 class="none">网站导航</h2>
		<ul>
			<li><a href="mob1.html">首页</a></li>
			<li class="active"><a href="mob2.html">咨询</a></li>
			<li><a href="mob3.html">票务</a></li>
			<li><a href="mob4.html">关于</a></li>
		</ul>
	</nav>
</header>

<div id="headline">
	<img src="../pic/p11.jpg" alt="">
	<hgroup>
		<h2>旅游资讯</h2>
		<h3>介绍各种最新旅游信息、资讯要闻、景点攻略等</h3>
	</hgroup>
</div>

<div class="list infomation">
	<h2>热门旅游</h2>
	<figure>
		<img src="../pic/p3.jpg" alt="">
		<figcaption>
			<hgroup>
				<h2 class="title">XXXXX几日游</h2>
				<h3 class="small_title">包团特惠，超丰富景点，无自费XXXXX</h3>
			</hgroup>
			<div class="price">￥<strong>2864</strong></div>
		</figcaption>
	</figure>
	<figure>
		<img src="../pic/p3.jpg" alt="">
		<figcaption>
			<hgroup>
				<h2 class="title">XXXXX几日游</h2>
				<h3 class="small_title">包团特惠，超丰富景点，无自费XXXXX</h3>
			</hgroup>
			<div class="price">￥<strong>2864</strong></div>
		</figcaption>
	</figure>
		<figure>
		<img src="../pic/p3.jpg" alt="">
		<figcaption>
			<hgroup>
				<h2 class="title">XXXXX几日游</h2>
				<h3 class="small_title">包团特惠，超丰富景点，无自费XXXXX</h3>
			</hgroup>
			<div class="price">￥<strong>2864</strong></div>
		</figcaption>
	</figure>
		<figure>
		<img src="../pic/p3.jpg" alt="">
		<figcaption>
			<hgroup>
				<h2 class="title">XXXXX几日游</h2>
				<h3 class="small_title">包团特惠，超丰富景点，无自费XXXXX</h3>
			</hgroup>
			<div class="price">￥<strong>2864</strong></div>
		</figcaption>
	</figure>
		<figure>
		<img src="../pic/p3.jpg" alt="">
		<figcaption>
			<hgroup>
				<h2 class="title">XXXXX几日游</h2>
				<h3 class="small_title">包团特惠，超丰富景点，无自费XXXXX</h3>
			</hgroup>
			<div class="price">￥<strong>2864</strong></div>
		</figcaption>
	</figure>
		<figure>
		<img src="../pic/p3.jpg" alt="">
		<figcaption>
			<hgroup>
				<h2 class="title">XXXXX几日游</h2>
				<h3 class="small_title">包团特惠，超丰富景点，无自费XXXXX</h3>
			</hgroup>
			<div class="price">￥<strong>2864</strong></div>
		</figcaption>
	</figure>

</div>

<footer id="footer">
	<div class="top">
		客户端|触屏版|电脑版
	</div>
	<div class="bottom">
		Copyright &copy 移动端流体布局|粤ICP备 16022330 号
	</div>
</footer>
</body>
</html>