<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>PC端固定布局静页 首页</title>
	<link rel="stylesheet" href="basic.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<!-- 我们将要做一个旅行社的企业网站 -->
	<!-- 
	网站结构:四个基本模块
	nav 导航
	header 头部
	section 首页主体
	footer 尾部

	注意:body和section和nav里面是必须包含标题的  不然主从目录框架会显示不出来 
	body和section和nav会取最近一个从属标题(h1~h6)

	大图布局设定1280~1920之间
	布局:
	小于1280 显示大图的中间部分
	大于1920 旁边留空


	 -->
	<header id="header">
		<div class="center">
			<h1 class="logo">PC端固定布局静页</h1>
			<nav class="link">
				<h2 class="none">nav标题</h2>
				<ul>
					<li class="active"><a href="pc1.html">首页</a></li>
					<li><a href="pc2.html">旅游咨询</a></li>
					<li><a href="pc3.html">机票订购</a></li>
					<li><a href="pc4.html">风景欣赏</a></li>
					<li><a href="pc5.html">公司简介</a></li>
				</ul>
			</nav>
		</div>

	</header>
	
	<div id="search">
		<div class="center"></div>
		<input type="text" class="search" placeholder="请输入">
		<button class="button">搜索</button>
	</div>
	
	<div id="tour">
		<section class="center">
			<h2>section标题</h2>
			<p>section标题是一个html5框架</p>
		</section>
		<figure>
			<img src="../pic/p3.jpg" alt="">
			<figcaption>
				<strong class="title">&lt;分块标题&gt;</strong>分块内容 分块内容 分块内容 分块内容 分块内容
				<div class="info">
					<em class="sat">满意度 77%</em>
					<span class="price">￥<strong>2864</strong>起</span>
				</div>
				<div class="type">左上角</div>
			</figcaption>
		</figure>
		<figure>
			<img src="../pic/p3.jpg" alt="">
			<figcaption>
				<strong class="title">&lt;分块标题&gt;</strong>分块内容 分块内容 分块内容 分块内容 分块内容
				<div class="info">
					<em class="sat">满意度 77%</em>
					<span class="price">￥<strong>2864</strong>起</span>
				</div>
				<div class="type">左上角</div>
			</figcaption>
		</figure>
		<figure>
			<img src="../pic/p3.jpg" alt="">
			<figcaption>
				<strong class="title">&lt;分块标题&gt;</strong>分块内容 分块内容 分块内容 分块内容 分块内容
				<div class="info">
					<em class="sat">满意度 77%</em>
					<span class="price">￥<strong>2864</strong>起</span>
				</div>
				<div class="type">左上角</div>
			</figcaption>
		</figure>
		<figure>
			<img src="../pic/p3.jpg" alt="">
			<figcaption>
				<strong class="title">&lt;分块标题&gt;</strong>分块内容 分块内容 分块内容 分块内容 分块内容
				<div class="info">
					<em class="sat">满意度 77%</em>
					<span class="price">￥<strong>2864</strong>起</span>
				</div>
				<div class="type">左上角</div>
			</figcaption>
		</figure>
		<figure>
			<img src="../pic/p3.jpg" alt="">
			<figcaption>
				<strong class="title">&lt;分块标题&gt;</strong>分块内容 分块内容 分块内容 分块内容 分块内容
				<div class="info">
					<em class="sat">满意度 77%</em>
					<span class="price">￥<strong>2864</strong>起</span>
				</div>
				<div class="type">左上角</div>
			</figcaption>
		</figure>
		<figure>
			<img src="../pic/p3.jpg" alt="">
			<figcaption>
				<strong class="title">&lt;分块标题&gt;</strong>分块内容 分块内容 分块内容 分块内容 分块内容
				<div class="info">
					<em class="sat">满意度 77%</em>
					<span class="price">￥<strong>2864</strong>起</span>
				</div>
				<div class="type">左上角</div>
			</figcaption>
		</figure>
		<figure>
			<img src="../pic/p3.jpg" alt="">
			<figcaption>
				<strong class="title">&lt;分块标题&gt;</strong>分块内容 分块内容 分块内容 分块内容 分块内容
				<div class="info">
					<em class="sat">满意度 77%</em>
					<span class="price">￥<strong>2864</strong>起</span>
				</div>
				<div class="type">左上角</div>
			</figcaption>
		</figure>
		<figure>
			<img src="../pic/p3.jpg" alt="">
			<figcaption>
				<strong class="title">&lt;分块标题&gt;</strong>分块内容 分块内容 分块内容 分块内容 分块内容
				<div class="info">
					<em class="sat">满意度 77%</em>
					<span class="price">￥<strong>2864</strong>起</span>
				</div>
				<div class="type">左上角</div>
			</figcaption>
		</figure>
		<figure>
			<img src="../pic/p3.jpg" alt="">
			<figcaption>
				<strong class="title">&lt;分块标题&gt;</strong>分块内容 分块内容 分块内容 分块内容 分块内容
				<div class="info">
					<em class="sat">满意度 77%</em>
					<span class="price">￥<strong>2864</strong>起</span>
				</div>
				<div class="type">左上角</div>
			</figcaption>
		</figure>
	</div>
	
	<!-- &copy是版权符号 -->
	<footer id="footer">
		<div class="top">
			<div class="block left">
				<h2>合作伙伴</h2>
				<hr>
				<ul>
					<li>伙伴1</li>
					<li>伙伴2</li>
					<li>伙伴3</li>
					<li>伙伴4</li>
				</ul>
			</div>
			<div class="block center">
				<h2>FAQ</h2>
				<hr>
				<ul>
					<li>签订方式?</li>
					<li>路线图</li>
					<li>哪些种类</li>
					<li>基于什么定制</li>
				</ul>
			</div>
			<div class="block right">
				<h2>联系方式</h2>
				<hr>
				<ul>
					<li>微博:weibo.com</li>
					<li>邮件:123123123@</li>
					<li>地址:广东省广州市XXX</li>
				</ul>
			</div>
		</div>
		<div class="bottom">
			Copyright &copy PC端固定布局|粤ICP备 16022330 号
		</div>
	</footer>

</body>
</html>