<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>PC端固定布局静页 风景欣赏</title>
	<link rel="stylesheet" href="basic.css">
	<link rel="stylesheet" href="column.css">
</head>
<body>
	<header id="header">
		<div class="center">
			<h1 class="logo">PC端固定布局静页</h1>
			<nav class="link">
				<h2 class="none">nav标题</h2>
				<ul>
					<li><a href="pc1.html">首页</a></li>
					<li><a href="pc2.html">旅游咨询</a></li>
					<li><a href="pc3.html">机票订购</a></li>
					<li class="active"><a href="pc4.html">风景欣赏</a></li>
					<li><a href="pc5.html">公司简介</a></li>
				</ul>
			</nav>
		</div>
	</header>
	
	<div id="headline">
		<div class="center">
			<hgroup>
				<h2>旅游咨询</h2>
				<h3>介绍各种最新旅游信息 新闻 攻略等</h3>
			</hgroup>
			
		</div>
	</div>
	
	<div id="container">
		<aside class="sidebar">
			<div class="sidebox recommend">
				<h2>景点推荐</h2>
				<div class="tag">
				<ul>
					<li><a href="###">曼谷(12)</a></li>
					<li><a href="###">东京(12)</a></li>
					<li><a href="###">西双版纳(12)</a></li>
					<li><a href="###">漓江(12)</a></li>
					<li><a href="###">呼伦贝尔(12)</a></li>
					<li><a href="###">首尔(12)</a></li>
					<li><a href="###">巴厘岛(12)</a></li>
					<li><a href="###">土耳其(12)</a></li>
					<li><a href="###">夏威夷(12)</a></li>
					<li><a href="###">巴厘岛(12)</a></li>
					<li><a href="###">毛里求斯(12)</a></li>
					<li><a href="###">吉普岛(12)</a></li>
					<li><a href="###">希腊(12)</a></li>
					<li><a href="###">法瑞意(12)</a></li>
					<li><a href="###">马尔代夫(12)</a></li>
					<li><a href="###">新西兰(12)</a></li>
					<li><a href="###">埃及(12)</a></li>
					<li><a href="###">迪拜(12)</a></li>
					<li><a href="###">斯里兰卡(12)</a></li>
					<li><a href="###">麦哈顿(12)</a></li>
					<li><a href="###">大阪(12)</a></li>
				</ul>
				</div>
			</div>
			<div class="sidebox hot">
				<h2>热门旅游</h2>
				<div class="figure">
					<figure>
						<img src="../pic/p5.jpg" alt="曼谷">
						<figcaption>曼谷</figcaption>
					</figure>
					<figure>
						<img src="../pic/p5.jpg" alt="曼谷">
						<figcaption>曼谷</figcaption>
					</figure>
					<figure>
						<img src="../pic/p5.jpg" alt="曼谷">
						<figcaption>曼谷</figcaption>
					</figure>
					<figure>
						<img src="../pic/p5.jpg" alt="曼谷">
						<figcaption>曼谷</figcaption>
					</figure>
					<figure>
						<img src="../pic/p5.jpg" alt="曼谷">
						<figcaption>曼谷</figcaption>
					</figure>
					<figure>
						<img src="../pic/p5.jpg" alt="曼谷">
						<figcaption>曼谷</figcaption>
					</figure>
				</div>
			</div>
			<div class="sidebox treasure">
				<h2>旅游百宝箱</h2>
				<div class="box">
					<a href="###" class="trea1">天气预报</a>
					<a href="###" class="trea2">火车票查询</a>
					<a href="###" class="trea3">航空查询</a>
					<a href="###" class="trea4">地铁线路查询</a>
				</div>
			</div>

		</aside>
		<div class="list p4">
			<section>
				<h2>风景欣赏</h2>
				<figure>
					<img src="../pic/p8.jpg" alt="one-piece">
					<figcaption>one-piece</figcaption>
				</figure>
				<figure>
					<img src="../pic/p8.jpg" alt="one-piece">
					<figcaption>one-piece</figcaption>
				</figure>
				<figure>
					<img src="../pic/p8.jpg" alt="one-piece">
					<figcaption>one-piece</figcaption>
				</figure>
				<figure>
					<img src="../pic/p8.jpg" alt="one-piece">
					<figcaption>one-piece</figcaption>
				</figure>
				<figure>
					<img src="../pic/p8.jpg" alt="one-piece">
					<figcaption>one-piece</figcaption>
				</figure>
				<figure>
					<img src="../pic/p8.jpg" alt="one-piece">
					<figcaption>one-piece</figcaption>
				</figure>
				<figure>
					<img src="../pic/p8.jpg" alt="one-piece">
					<figcaption>one-piece</figcaption>
				</figure>
				<figure>
					<img src="../pic/p8.jpg" alt="one-piece">
					<figcaption>one-piece</figcaption>
				</figure>
			</section>
			<div class="more">加载更多</div>
		</div>
	</div>

	<footer id="footer">
		<div class="top">
			<div class="block left">
				<h2>合作伙伴</h2>
				<hr>
				<ul>
					<li>伙伴1</li>
					<li>伙伴2</li>
					<li>伙伴3</li>
					<li>伙伴4</li>
				</ul>
			</div>
			<div class="block center">
				<h2>FAQ</h2>
				<hr>
				<ul>
					<li>签订方式?</li>
					<li>路线图</li>
					<li>哪些种类</li>
					<li>基于什么定制</li>
				</ul>
			</div>
			<div class="block right">
				<h2>联系方式</h2>
				<hr>
				<ul>
					<li>微博:weibo.com</li>
					<li>邮件:123123123@</li>
					<li>地址:广东省广州市XXX</li>
				</ul>
			</div>
		</div>
		<div class="bottom">
			Copyright &copy PC端固定布局|粤ICP备 16022330 号
		</div>
	</footer>

</body>
</html>